.card {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    margin-bottom: 0;
    background-color: #fff;

    .headline {
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        display: flex;
        width: 100%;

        .title {
            float: left;
            padding: 10px 10px;
        }

        .extra {
            right: 0;
            position: absolute;
            padding: 5px 10px;

            button {
                margin: 0 3px;
            }

            .item {
                border: 0;
                padding: 5px;
                cursor: pointer;
            }

            .icon {
                color: #3E3E3E;
                font-size: 20px;
                margin-right: 5px;
            }

            .content {
                font-size: 14px;
                line-height: 30px;
                margin: 0;
                padding: 0;
            }
        }
    }


    .toolbar {
        display: inline-block;
        position: relative;
        bottom: 0;
        border-top: 1px solid #f0f0f0;
        width: 100%;

        .toolbar-content {
            padding: 8px
        }
    }

    .content {
        padding: 10px 10px 10px;
    }
}
